/* ==========================================================================
   BASE
   ========================================================================== */
html {
  position: relative; 
  min-height: 100%;
  font-size: 14px;
  line-height: 1.4;
  color: $base-text;
  font-family: Roboto, sans-serif;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  @media (min-width: $screen-md-min) {
    font-size: 16px;
  }
}
body {margin: 0; background: #fff;}
img {max-width: 100%;max-height: 100%;}


a {
  text-decoration: none;  
  transition: all .15s;
  &:hover {
    text-decoration: none;
  }
  @include link($blue-bright);
}

table {width: 100%;}
p, ul {margin: 0;}
ul {padding: 0; list-style: none;}
small {font-size: 100%;display: inline-block;}
.container {max-width: 1440px;}
.row-mod {justify-content: space-between}

.link-local {
	@include link-local($link-text);
}
.t-right {text-align: right;}

.hidden-xs {
	display: block;
	@media (max-width: $screen-xs-max) {display: none !important}
}
/* ==========================================================================
   BUTTONS
   ========================================================================== */
button {cursor: pointer;}

.btn {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  letter-spacing: .04em;
  text-decoration: none;
  --mdc-ripple-fg-size: 0;
  --mdc-ripple-left: 0;
  --mdc-ripple-top: 0;
  --mdc-ripple-fg-scale: 1;
  --mdc-ripple-fg-translate-end: 0;
  --mdc-ripple-fg-translate-start: 0;
  -webkit-tap-highlight-color: transparent;
  will-change: transform,opacity;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 2px;
  background-color: transparent;
  transition: all .15s;
  border-radius: 3px;
  padding: 8px 16px;
  color: $green;

  svg {margin-right: 4px;
    &:last-child {margin-right: 0;}
  }

  &:hover {border: none;}
}


.btn-main {
  $btn-main-bg: $action;
  background: $btn-main-bg;
  font-weight: 500;
  color: #585858 !important;
  box-shadow: 
    0 0 5px 0 rgba($btn-main-bg, .75),
    inset 0 0 10px 0 rgba(rgb(238, 191, 22), .75)
  ;
  &:hover {
    background: lighten($btn-main-bg, 5%);
    box-shadow: 0 0 10px 0 $btn-main-bg;
  }
}
.btn-order {
  background: #FA6917;
  color: #fff;
  border-radius: 500px;
  padding: 1rem 2rem;
  &:hover {
    background: rgba(#FA6917, .9);
    box-shadow: 0 0 10px 0 rgba(#FA6917, .5);
  }
}
.btn-main-dash {
  background: #FA9217;
  color: #fff;
  padding: 8px 16px;
  &:hover {
    background: rgba(#FA9217, .8);
  }  
}

.btn-second {
  $btn-2-bg: $green;
  background: $btn-2-bg;
  color: #fff !important;
  font-weight: 400; 
  border: 1px solid $btn-2-bg;
  &:hover {
    background: rgba($btn-2-bg, .9);
    border: 1px solid $btn-2-bg;
  }
}

@mixin btn-stroked($color) {
  border: 1px solid $color !important;
  font-size: 1rem;
  padding: 8px 16px;
  color: $color !important;
  border-radius: 3px;
}
.btn-stroked {
  @include btn-stroked($green);
  &:hover {background: $green-text; color: #fff  !important}
}
.btn-deny {
  @include btn-stroked($red);
  color: $red;
  &:hover {background: $red; color: #fff  !important;}  
}
.btn-default {
  @include btn-stroked($gray);
  .icon-svg {fill: $gray}
  &:hover {
    background: $gray;
    color: #fff !important;
    .icon-svg {fill:#fff}
  }
}

.btn-default-color {
  @include btn-stroked($green);
  &:hover {
    background: $green;
    color: #fff !important;
  }  
}

.btn-icon {
  background:none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-load {
	width: 100%;
	background: #ffffff;
  border: 1px solid $green;
  padding: .6rem 1rem;
  margin-bottom: 1.5rem;
	&:hover {border: 1px solid #ccc;}
}

.btn-fav {	
	height: 32px; width: 32px;
	display: inline-block;	
	border: 1px solid $green;
	background: none;
	border-radius: 100%;
	text-align: center;
	padding: 0;
	cursor: pointer;
	transition: all .1s;
	z-index: 2;
	svg {
		vertical-align: middle; 
		stroke: $green;
		fill: none;
		width: 18px;
		transition: all .1s;
	}
	&:hover, &-active {
    background: $green;
		svg {fill: $green; stroke: #fff}
	}
}

.icn {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}
.icn-del { //DEL
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='15' viewBox='0 0 8 11' fill='%23E5243B' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.06114 10.4695C7.04903 10.766 6.81096 11 6.52144 11H1.47863C1.18912 11 0.951047 10.766 0.938934 10.4695L0.578811 2.67856H7.42126L7.06114 10.4695ZM2.8593 4.6137C2.8593 4.48955 2.76107 4.38887 2.63988 4.38887H2.28896C2.16785 4.38887 2.06955 4.48953 2.06955 4.6137V9.06486C2.06955 9.18902 2.16777 9.28968 2.28896 9.28968H2.63988C2.76102 9.28968 2.8593 9.18908 2.8593 9.06486V4.6137ZM4.39489 4.6137C4.39489 4.48955 4.29666 4.38887 4.1755 4.38887H3.82457C3.70346 4.38887 3.60519 4.48953 3.60519 4.6137V9.06486C3.60519 9.18902 3.70339 9.28968 3.82457 9.28968H4.1755C4.29664 9.28968 4.39489 9.18908 4.39489 9.06486V4.6137ZM5.93053 4.6137C5.93053 4.48955 5.83231 4.38887 5.71114 4.38887H5.36019C5.23905 4.38887 5.14081 4.48953 5.14081 4.6137V9.06486C5.14081 9.18902 5.23903 9.28968 5.36019 9.28968H5.71114C5.83228 9.28968 5.93053 9.18908 5.93053 9.06486V4.6137Z' /%3E%3Cpath d='M0.338972 0.566665H2.66539V0.115929C2.66539 0.0519189 2.71602 0 2.77851 0H5.22149C5.28395 0 5.33459 0.0519189 5.33459 0.115929V0.566638H7.66103C7.84825 0.566638 8 0.722179 8 0.914048V2.0054H0V0.914075C0 0.722206 0.151749 0.566665 0.338972 0.566665Z'/%3E%3C/svg%3E");
	width: 11px;height: 15px;
}
.btn-del-icon {
  padding: 0 0 0 14px;
  font-size: 12px;
  color: $base-text;
  background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='%23666666' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.06114 10.4695C7.04903 10.766 6.81096 11 6.52144 11H1.47863C1.18912 11 0.951047 10.766 0.938934 10.4695L0.578811 2.67856H7.42126L7.06114 10.4695ZM2.8593 4.6137C2.8593 4.48955 2.76107 4.38887 2.63988 4.38887H2.28896C2.16785 4.38887 2.06955 4.48953 2.06955 4.6137V9.06486C2.06955 9.18902 2.16777 9.28968 2.28896 9.28968H2.63988C2.76102 9.28968 2.8593 9.18908 2.8593 9.06486V4.6137ZM4.39489 4.6137C4.39489 4.48955 4.29666 4.38887 4.1755 4.38887H3.82457C3.70346 4.38887 3.60519 4.48953 3.60519 4.6137V9.06486C3.60519 9.18902 3.70339 9.28968 3.82457 9.28968H4.1755C4.29664 9.28968 4.39489 9.18908 4.39489 9.06486V4.6137ZM5.93053 4.6137C5.93053 4.48955 5.83231 4.38887 5.71114 4.38887H5.36019C5.23905 4.38887 5.14081 4.48953 5.14081 4.6137V9.06486C5.14081 9.18902 5.23903 9.28968 5.36019 9.28968H5.71114C5.83228 9.28968 5.93053 9.18908 5.93053 9.06486V4.6137Z' /%3E%3Cpath d='M0.338972 0.566665H2.66539V0.115929C2.66539 0.0519189 2.71602 0 2.77851 0H5.22149C5.28395 0 5.33459 0.0519189 5.33459 0.115929V0.566638H7.66103C7.84825 0.566638 8 0.722179 8 0.914048V2.0054H0V0.914075C0 0.722206 0.151749 0.566665 0.338972 0.566665Z'/%3E%3C/svg%3E") no-repeat 0 50%;  
  width: 65px;
}
.icn-warn { //DEL
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 0C3.35813 0 0 3.35813 0 7.5C0 11.6419 3.35813 15 7.5 15C11.6419 15 15 11.6419 15 7.5C15 3.35813 11.6419 0 7.5 0ZM7.5 12.2875C6.91375 12.2875 6.5125 11.8356 6.5125 11.25C6.5125 10.6475 6.93062 10.2125 7.5 10.2125C8.10188 10.2125 8.4875 10.6475 8.4875 11.25C8.4875 11.8363 8.10188 12.2875 7.5 12.2875ZM7.88875 8.32563C7.73937 8.835 7.26875 8.84375 7.11187 8.32563C6.93125 7.72813 6.28937 5.46 6.28937 3.98688C6.28937 2.04313 8.72125 2.03375 8.72125 3.98688C8.72062 5.46875 8.04437 7.79563 7.88875 8.32563Z' fill='%231B998B'/%3E%3C/svg%3E%0A");	
	width: 15px;height: 15px;
}
.icn-msg {  //DEL
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 21 20' fill='%231B998B' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.594 4.1464C18.6564 2.86627 17.3828 1.85512 15.7737 1.11306C14.1645 0.37108 12.4065 0 10.5002 0C9.07824 0 7.71885 0.2191 6.42201 0.657392C5.12517 1.09564 4.00803 1.68801 3.0705 2.43436C2.13282 3.1808 1.38689 4.06824 0.832119 5.09662C0.277346 6.12505 0 7.20349 0 8.33178C0 9.63357 0.353403 10.8534 1.0605 11.9903C1.76759 13.1271 2.73426 14.082 3.96095 14.8544C3.87492 15.2014 3.77337 15.5314 3.65614 15.8436C3.53896 16.156 3.43351 16.4124 3.33976 16.6119C3.24593 16.8115 3.1191 17.0329 2.95882 17.2759C2.79878 17.5189 2.6777 17.6904 2.59565 17.7901C2.51368 17.8899 2.37893 18.0551 2.19131 18.2848C2.00393 18.5149 1.88277 18.6646 1.82813 18.7341C1.82021 18.7382 1.78902 18.7775 1.73434 18.8512C1.67971 18.9248 1.65229 18.9617 1.65229 18.9617L1.58198 19.0787C1.54287 19.1439 1.5253 19.1851 1.52916 19.2021C1.5331 19.2191 1.5253 19.2628 1.50576 19.3321C1.48618 19.4017 1.48819 19.4538 1.51159 19.4886V19.5016C1.54299 19.658 1.61133 19.7837 1.71674 19.879C1.82214 19.9744 1.94142 20.0135 2.07416 19.9959C2.5821 19.9265 3.02737 19.8315 3.41012 19.7097C5.45707 19.128 7.254 18.0781 8.80081 16.559C9.38661 16.6284 9.95305 16.6632 10.4999 16.6632C12.4062 16.6632 14.1641 16.2922 15.7734 15.5499C17.3828 14.8079 18.6562 13.7967 19.5937 12.5168C20.5313 11.2372 21 9.84186 21 8.33173C21 6.82156 20.5313 5.4263 19.594 4.1464Z' transform='translate(21) scale(-1 1)' /%3E%3C/svg%3E");
  width: 12px;height: 12px;
}
*:hover>.icn-msg {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 21 20' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.594 4.1464C18.6564 2.86627 17.3828 1.85512 15.7737 1.11306C14.1645 0.37108 12.4065 0 10.5002 0C9.07824 0 7.71885 0.2191 6.42201 0.657392C5.12517 1.09564 4.00803 1.68801 3.0705 2.43436C2.13282 3.1808 1.38689 4.06824 0.832119 5.09662C0.277346 6.12505 0 7.20349 0 8.33178C0 9.63357 0.353403 10.8534 1.0605 11.9903C1.76759 13.1271 2.73426 14.082 3.96095 14.8544C3.87492 15.2014 3.77337 15.5314 3.65614 15.8436C3.53896 16.156 3.43351 16.4124 3.33976 16.6119C3.24593 16.8115 3.1191 17.0329 2.95882 17.2759C2.79878 17.5189 2.6777 17.6904 2.59565 17.7901C2.51368 17.8899 2.37893 18.0551 2.19131 18.2848C2.00393 18.5149 1.88277 18.6646 1.82813 18.7341C1.82021 18.7382 1.78902 18.7775 1.73434 18.8512C1.67971 18.9248 1.65229 18.9617 1.65229 18.9617L1.58198 19.0787C1.54287 19.1439 1.5253 19.1851 1.52916 19.2021C1.5331 19.2191 1.5253 19.2628 1.50576 19.3321C1.48618 19.4017 1.48819 19.4538 1.51159 19.4886V19.5016C1.54299 19.658 1.61133 19.7837 1.71674 19.879C1.82214 19.9744 1.94142 20.0135 2.07416 19.9959C2.5821 19.9265 3.02737 19.8315 3.41012 19.7097C5.45707 19.128 7.254 18.0781 8.80081 16.559C9.38661 16.6284 9.95305 16.6632 10.4999 16.6632C12.4062 16.6632 14.1641 16.2922 15.7734 15.5499C17.3828 14.8079 18.6562 13.7967 19.5937 12.5168C20.5313 11.2372 21 9.84186 21 8.33173C21 6.82156 20.5313 5.4263 19.594 4.1464Z' transform='translate(21) scale(-1 1)' /%3E%3C/svg%3E");
}

.icon-svg {
  margin-right: 8px !important;
  transition: all .3s;
  vertical-align: top;
}
/* ==========================================================================
  COMMON
  ========================================================================== */

/* FORMS */
fieldset {
  margin: 0;
  padding: 0; 
  border: none;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="date"], 
select,
textarea {
  width: 100%;
  border: 1px solid $gray-border;
  padding: 12px 8px;  
  @media (min-width: $screen-sm-min) {
    padding: 12px 16px;  
  }
  font-size: 1rem;
  transition: all .3s ease-in-out;
  font-family: Roboto, sans-serif;
  color: #000 !important;
  border-radius: 3px;  
}
select {padding: 8px;}
textarea {
  resize: vertical;
  min-height: 100px;
  padding: 16px 8px;
  @media (min-width: $screen-sm-min) {
    padding: 16px;
  }
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="number"], 
input[type="date"], 
select,
textarea, 
.input-group,
.lbl-wrapper, 
fieldset {
  margin: 0 0 16px 0;
  @media (min-width: $screen-sm-min) {margin-bottom: 24px;}
}


.input-short {width: 96px !important;}

.row-form textarea {margin-bottom: 0;}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus {
  box-shadow: 0 0 5px #669ff3;
  border: 1px solid #669ff3;
}
input[type="number"] {padding-right: 0;}

input:disabled, select:disabled {
  background: $gray-light;
}
label {cursor: pointer; color: $blue-dark}
label.checkbox {display: block;}
input.checkbox, input.radio {margin: 0 4px 0 0; vertical-align: baseline;}
input:disabled+label {color:$gray;}
input[type=checkbox] {cursor: pointer;}
.lbl {
  font-weight: 500;
  display: block;
  font-size: 1rem;
  color: $blue-dark;
}
.lbl-top {
  display: block;
  margin-bottom: 8px;
  line-height: 1;  
}
.lbl-before {
  margin-right: 4px;
  margin-left: 1.5rem;
  &:first-child {margin-left: 0;}
}
.lbl-after {margin-left: 4px;}

.lbl-inline {
  display: inline-block !important;
  margin: .5rem 1rem 0 0;  
  &:last-child {margin-right: 0;}
}
.lbl-warn {
  color: $action;
  font-weight: 500;
  font-size: 12px;
}
.lbl-long, .list-vacancy-specializations label {
  position: relative;
  padding-left: 22px;
  display: inline-block;
  font-size: 14px;
  input {
    position: absolute;
    left: 0;top: 4px;
  }
}
.lbl-bigger {font-size: 1.2rem}
.sublabel {
  margin-bottom: 8px;
  max-width: 410px;
}

.userdata-row {
  display: flex;  
  margin-bottom: 2rem;
  &:last-child {margin-bottom: 0;}
  @media (max-width: $screen-sm-max) {
    flex-wrap: wrap;
  }
}
.userdata-col-1 {
  width: 100px;
  flex-shrink: 0;
}
.userdata-col-2 {
  width: 250px;
  padding-top: 16px;
  @media (min-width: 500px) {
    padding-left: 20px;
  }
  @media (min-width: $screen-md-min) {
    padding: 30px 20px 0 20px;
    width: 270px;
  }
  flex-shrink: 0;
}
.userdata-col-3 {
  @media (max-width: $screen-sm-max) {
    margin-top: 20px;
  }  
}
.note-userdata-important {
  background: #F7F7F7;
  display: inline-block;
  padding: 2rem;
  font-weight: 500;
  span {color: $green;}
}
.userdata-comment {color: $gray; font-size: 0.85rem; margin-top: 16px;}
.inp-text-passp-ser {
  max-width: 150px !important;
}
.inp-text-passp-num {
  width: 260px !important;
}

.form-incontent {
  margin-top: 2rem;
}

.inp-required {
	border-left: 2px solid $action !important;
}
.inp-invalid {
  border:1px solid red !important;
  box-shadow: 0 0 5px 0 red !important;
}

.form-bottom-buttons {
  .btn:first-child {margin-right: 1rem;}
}

.input-pass-wrap {
  position: relative;
	.show-pass {
		position: absolute;
		right: 10px;
		top: 14px;
	}
}
.show-pass {
  background: url("data:image/svg+xml,%3Csvg width='27' height='18' viewBox='0 0 27 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.1538 0C7.17483 0 2.03287 3.72 0 9C2.03287 14.28 7.17483 18 13.1538 18C19.1329 18 24.2748 14.28 26.3077 9C24.2748 3.72 19.1329 0 13.1538 0ZM13.1538 15C9.80559 15 7.17483 12.36 7.17483 9C7.17483 5.64 9.80559 3 13.1538 3C16.5021 3 19.1329 5.64 19.1329 9C19.1329 12.36 16.5021 15 13.1538 15ZM13.1538 5.4C11.121 5.4 9.56643 6.96 9.56643 9C9.56643 11.04 11.121 12.6 13.1538 12.6C15.1867 12.6 16.7413 11.04 16.7413 9C16.7413 6.96 15.1867 5.4 13.1538 5.4Z' fill='%23666666'/%3E%3C/svg%3E%0A") no-repeat;
	width: 27px;height: 18px;
	border: none;
	cursor: pointer;
  opacity: .5;
  font-size: 0;
  color: transparent;
  transition: all .10s;
  &:hover, &-active {opacity: 1}
}
.input-addition {
	text-align: right;
	position: relative;
	top: -16px;
  font-size: .9rem;
  color: $gray;
}

.inp-text-stand,
.input-pass-wrap {
  @media (min-width: $screen-sm-min) {
    max-width: 435px;
  }
}
.inp-text-tel {
  max-width: 200px;
}
.inp-text-index {max-width: 225px}
.inp-text-addr {max-width: 100px;}
.input-row {}
.input-col {
  display: inline-block;
  margin-right: 20px;
  &:last-child {margin-right: 0;}
}
.btn-changenumber {
  height: 44px;
  vertical-align: baseline;
  margin-bottom: 1rem;
}

/* SEARCH FORM */
.form-search {
	position: relative;		
	.search-field {padding-right: 40px; margin-bottom: 0;}
	.search-submit {
		border: none;
		padding: 0;
		position: absolute;		
		background-color: transparent;		
		bottom: 0;
		right: 12px;
		top: 0;
		margin: auto;
		cursor:pointer;
		opacity: .5;
	}
}

.form-search-mob {
  .search-submit {
    right: 12px;
    top: 5px;
    font-size: 18px;    
  }
  .search-field {
    width: 100%;
    padding: 8px 25px 8px 12px;
    border: 1px solid $gray-light;
  }
}
.form-search-mob, .form-search-exp {
  position: relative;
  .search-submit {
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
    position: absolute;
    background-color: transparent;
  }
}
.form-search-exp {
  display: inline-block;
  border: 1px solid #e3e3e3;
  border-radius: 30px;
  .search-field {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb%51, 51, 51' d='M14.490,12.752 L11.296,9.559 C11.279,9.542 11.259,9.530 11.242,9.515 C11.870,8.561 12.237,7.421 12.237,6.194 C12.237,2.856 9.531,0.150 6.193,0.150 C2.856,0.150 0.150,2.856 0.150,6.193 C0.150,9.531 2.856,12.237 6.193,12.237 C7.420,12.237 8.561,11.870 9.514,11.242 C9.530,11.259 9.542,11.279 9.559,11.296 L12.753,14.490 C13.232,14.969 14.010,14.969 14.490,14.490 C14.969,14.010 14.969,13.232 14.490,12.752 ZM6.193,10.142 C4.013,10.142 2.245,8.374 2.245,6.193 C2.245,4.013 4.013,2.245 6.193,2.245 C8.374,2.245 10.142,4.013 10.142,6.193 C10.142,8.374 8.374,10.142 6.193,10.142 Z'/%3E%3C/svg%3E");
    background-repeat:no-repeat;    
  }

  .search-field {
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    padding: 8px 25px 8px 12px;
    width: 35px;
    height: 35px;
    transition: all .15s;
    cursor: pointer;
    border:none;
    background-position: 11px 12px;
  }

  .search-submit {
    width: 15px;
    height: 15px;
    border: none;
    padding: 0;
    position: absolute;
    display: none;
    background-color: transparent;
    z-index: -1;
  }
  .search-field:focus {
    width: 200px;
    cursor: auto;
    padding-right: 30px;
    background-position: 173px 12px;
    &+.search-submit {display: block}
    //@media (min-width: $screen-md-min) {width: 200px;}
  }
}

/* custom checkboxes */
.check-custom {
  display: inline-block;
  transition: all .15s;
  input {position: absolute; left: -9999px;}
}
.check-custom-title {display: none;}

.check-switch {
  background: #E5E5E5;
  width: 50px;height: 27px;
  border-radius: 100px;
  position: relative;
  &:before {
    content: "";
    width: 20px;height: 20px;
    border-radius: 100%;
    background: #ffffff;
    top: 3px;
    left: 3px;
    position: absolute;
    transition: all .15s;
  }
  &.checked {
    background: $green;
    &:before {
      left: 27px;
    }
  }

  @media (min-width: 500px) {
    width: 77px;height: 41px;
    &:before {
      width: 34px;height: 34px;
      top: 3px;
      left: 3px;      
    }
    &.checked {
      background: $green;
      &:before {
        left: 40px;
      }
    }    
  }
}
.check-icon {
  width: 40px;height: 40px;
  border-radius: 100%;
  border: 1px solid $green;
  position: relative;
  svg {
    transition: all .15s;
    position: absolute; left: 0;top: 0;right: 0;bottom: 0; margin: auto;
  }
  &.checked {
    background: $green;
    svg {
      stroke: #fff;
      fill: $green;
    }
  }
}




/* IMAGES */
.aligncenter, .alignleft, .alignright {display: block;margin: 0 auto 20px;}
@media (min-width: $screen-sm-min) {
  .alignleft, .alignright {display: inline-block;max-width: 75%}
  .alignleft {float: left;margin: 5px 20px 8px 0;}
  .alignright {float: right;margin: 5px 0 8px 20px;}
}

/* UTILITY CLASSES */
.b-show-more {
  text-align: center;
  margin-bottom: 28px;
}
.b-center {text-align: center}
.button-aside {
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

/* ==========================================================================
   MENUS
   ========================================================================== */
.but-nav {
  width: 38px; height: 20px;
  border: none;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='38px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb%280, 0, 0%29' d='M36.000,11.999 L2.000,11.999 C0.895,11.999 -0.000,11.104 -0.000,9.999 C-0.000,8.895 0.895,7.999 2.000,7.999 L36.000,7.999 C37.104,7.999 38.000,8.895 38.000,9.999 C38.000,11.104 37.104,11.999 36.000,11.999 ZM36.000,3.999 L2.000,3.999 C0.895,3.999 -0.000,3.104 -0.000,1.999 C-0.000,0.895 0.895,-0.001 2.000,-0.001 L36.000,-0.001 C37.104,-0.001 38.000,0.895 38.000,1.999 C38.000,3.104 37.104,3.999 36.000,3.999 ZM2.000,15.999 L36.000,15.999 C37.104,15.999 38.000,16.895 38.000,17.999 C38.000,19.104 37.104,19.999 36.000,19.999 L2.000,19.999 C0.895,19.999 -0.000,19.104 -0.000,17.999 C-0.000,16.895 0.895,15.999 2.000,15.999 Z'/%3E%3C/svg%3E") no-repeat;
  @media (min-width: $screen-sm-min) {display: none;}
}

.nav-menu-inline {
  .menu-item {
    display: inline-block;
    margin-right: 20px;
  }
}


.tab-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  top: -43px;
  overflow: hidden;
  overflow-x: auto;
  .cus-tab {
    display: inline-block;

    &--active {
      background: #fff;
      border-top: 2px solid;
    }
    a {
      font-weight: 500;
      padding: 10px 16px 12px;
    }
  }

  .nav-menu {    
    @media (max-width: $screen-xs-max) {width: 726px;}
  }
}

.pagination, .pagination-mob {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  .pgn-page {
    display: inline-block;
    margin-left: -1px;   
  }
  .pgn-page-prev {margin: 0 16px 0 0;}
  .pgn-page-next {margin: 0 0 0 16px;}
  a, .pgn-page-dots {
    @include btn-stroked($green);
    border-radius: 0;
    background: #fff;
    display: inline-block;
    font-size: 16px;
  }
  a:hover {
    text-decoration: none;
    background: rgba($green, .5);
  }
  .pgn-page-prev, .pgn-page-next {a {border-radius: 3px;}}
  .pgn-page-active a {background: $green-text; color: #fff}
}
.pagination {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
.pagination-mob {
  justify-content: center;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.widget-menu {
  .header {
    margin: 0;
    background: rgba(#000, .07);
    padding: 18px 24px;
  }
}


/* footer */
.menu-social {
  font-size: 1.5rem;
  .menu-item a {padding: 0}
}
.menu-footer {
  .menu-item a {padding: 4px 0}
  .menu-item:last-child {margin-right: 0}
}

.nav-menu-mob-wrapper {  
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.visible-sm, .visible-xs {
  display: none;
}
.visible-xs {
  @media (max-width: $screen-xs-max) {display: block;}
}
.visible-sm {
  @media (max-width: $screen-sm-max) {display: block;}
}
/* ==========================================================================
   CONTENT
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {font-weight: 500;}

   .heading {
  font-size: 1.5rem;
  margin: .5rem 0 1.5rem 0;
  color: $heading-text;  
  font-weight: 500;
}
.card .heading {line-height: 1.1}
.section-major .heading {margin-top: 0;}
.section-major:first-child {
  .heading {margin-top: 8px;}
}
.heading-special { //del
  color: $green-text;
  margin-bottom: .5rem !important;
}

.heading-edit {
  position: relative;
  display: inline-block;
  &::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49844 2.00265L9.95147 4.45565L3.74218 10.6649L1.29054 8.21193L7.49844 2.00265ZM11.8128 1.41104L10.7189 0.317082C10.2961 -0.105694 9.60961 -0.105694 9.18539 0.317082L8.13749 1.36498L10.5905 3.81801L11.8128 2.59569C12.1407 2.26776 12.1407 1.73894 11.8128 1.41104ZM0.00682619 11.6598C-0.0378157 11.8607 0.143579 12.0408 0.344513 11.9919L3.078 11.3291L0.626364 8.87613L0.00682619 11.6598Z' fill='%231B998B'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;    
    width: 24px; 
    height: 24px;
    border: 1px solid $green;
    border-radius: 100%;
    display: block;
    position: absolute;
    right: -32px;
    top: -8px;;
    cursor: pointer;
  }
}
.btn-edit {
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.49844 2.00265L9.95147 4.45565L3.74218 10.6649L1.29054 8.21193L7.49844 2.00265ZM11.8128 1.41104L10.7189 0.317082C10.2961 -0.105694 9.60961 -0.105694 9.18539 0.317082L8.13749 1.36498L10.5905 3.81801L11.8128 2.59569C12.1407 2.26776 12.1407 1.73894 11.8128 1.41104ZM0.00682619 11.6598C-0.0378157 11.8607 0.143579 12.0408 0.344513 11.9919L3.078 11.3291L0.626364 8.87613L0.00682619 11.6598Z' fill='%231B998B'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;    
  width: 24px; 
  height: 24px;
  border: 1px solid $green;
  border-radius: 100%;
  display: block;
  cursor: pointer;  
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.link-aside {color: $blue-bright; font-size: 0.9rem;}


.heading-all {
  a {font-weight: bold; color: $green-text}
}
.heading-dash {font-size: 1rem;font-weight: normal;color: $blue-dark}

.heading-content {
  margin-bottom: 0.5rem;
}
.heading-withcomment {display: inline-block; margin-right: 1rem;}
.review-count {font-size: 0.9rem;}

.h-page {margin: 0 0 20px 0;font-size: 1.7rem;}
.h-card-list {font-size: 1.5rem;}



.section-major, .card-full {
  margin-bottom: 2rem;
}

.carousel-list {
  @media (max-width: $screen-md-max) {
    padding: 0 30px;
  }
  .card {
    @media (min-width: $screen-xs-min) {
      margin-right: 30px;
      &:last-child {margin-right: 0;}      
    }
  }
}


.col-categ {
  margin-bottom: 16px;
  .icon {display: block;} 
  svg {font-size: 50px;}
  .title {margin: 8px 0;text-transform: uppercase; font-size: 1.2rem;line-height: 1.2;}
  
  li {margin-bottom: 8px; line-height: 1.1; text-transform: capitalize; position: relative;
    &:before {content: "-"; position: absolute; top: 0; left: -10px;}
  }
  .all {font-weight: 600; display: block;}
}

/* ==========================================================================
   ARTICLE
   ========================================================================== */
@mixin border($color) {
  border-left: 4px solid $color;
  padding: 4px 0 4px 16px;
}

.b-author-article {
  @include clearfix;
  margin-bottom: 14px;
  .userpic {
    width: 60px;
    border-radius: 100%;
    @include shadow;
    float: left;
    margin-right: 8px;
  }
  .article-author {font-weight: 500; margin-top: 12px;display: block;}
  .article-date {color: rgba($base-text, .75)}
}

hr {background: $gray-border; height: 1px; border: none; margin: 1.5rem 0;}
.article-main {
}
.article-main--body {
  p, blockquote, ul, ol, figure, img, table {
    margin-bottom: 24px;
  }
  h2 {font-size: 1.5rem; margin-top: 32px;}
  p {line-height: 1.5;}
  .toc {
    @include border($base-text);
    &_title {margin: 0 0 8px; font-size: 1.1rem; font-weight: 500;}
    &_list {
      list-style: number;
      padding-left: 16px;
      margin-bottom: 0 !important;
      li {margin-bottom: 16px;
        &:last-child {margin-bottom: 0;}
      }
      a {border-bottom: 1px dashed}
    }
  }

  blockquote {
    margin-left: 0;
    position: relative;
    @include border($base-text);
    &:before {
      content: '“';
      font-family: Georgia;
      position: absolute;
      left: 16px;
      top: -8px;
      font-size: 80px;
      line-height: 1;
    }
    p:first-letter {margin-left: 38px;}
    p {margin-bottom: 0 !important;}
  }

  figure {
    text-align: center;
    img {margin-bottom: 8px !important;}
    figcaption {color: rgba($base-text, .75); font-weight: 500;}
  }
  
  ul, ol {
    padding-left: 36px;
    li {margin-bottom: 8px;}
  }
  ul {list-style: circle;}
  
  table {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;

    @media (max-width: $screen-sm-max) {
      display: block;
      max-width: min-content;    
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      white-space: nowrap;
    }
  }
  th, td {border: 1px solid $gray-light; padding: 8px;}
  th {background: rgba($gray-light, .5)}

  .title {font-weight: 500;}
}
.article-main--rating, .article-main--sharing {  
  .title {font-weight: 500;}
}
.article-main--rating {
  margin-bottom: 16px;
  .title {margin: 0 8px 8px 0;display: inline-block;}
  .stars {display: inline-block; color: orange; font-size: 24px;}
}
.article-main--sharing {
  margin-bottom: 24px;
  .title {margin: 0 0 8px 0;}
}
.article-main--categs {
  margin-bottom: 24px;
  @include border($base-text);
  .title {font-weight: 500;}
}
.comments-area {
  ol {list-style: none;}  
  .comment-list {padding-left: 0}
}
.comment-box {
  margin-bottom: 16px;
  @include clearfix();
}
.comment-text {margin-bottom: 8px;}
.comment-reply-link {
  float: right; 
  cursor: pointer; 
  color: $action;
  font-size: 14px;
  font-weight: 500;
}

/* ==========================================================================
   CARDS
   ========================================================================== */
.h-card {font-size: 1.3rem; font-weight: 500; margin: 8px 0}

.card {
	@include borderr();
	padding: 1rem;
	background: #fff;
}
.card {
  .category, .comments, .author {font-size: 0.8rem; margin-bottom: 4px;}
}
.card-full {	
	@media (min-width: $screen-md-min) {
		padding: 2rem;
	}
}
.card-img {
  position: relative;
  display: block;

  img {
    width: 100%; 
    transition: all .15s;
    display: inline-block;
    vertical-align: bottom;
  }
  .label {
    background: rgba(#000, .75);
    position: absolute;
    left: 0;
    bottom: 0; 
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 0;
  }
  &:hover {
    img {opacity: .85;}
  }
}
.card-dash {
	padding: 1.5rem;
	background: #fff;
	margin-bottom: 1.5rem;
	.btn-second {padding: 8px 16px;}
	a {color: $blue-bright}
}
.card-dash-order {
	background: $gray-bg;	
	@media (min-width: $screen-md-min) {
		padding: 2rem;
	}
}
.cols-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* card-cols */
.card-cols {
  @media (max-width: $screen-sm-max) {
    margin-bottom: 18px;
    .card-img {margin-bottom: 16px;}
  }
  @media (min-width: $screen-md-min) {
    .h-card {margin-top: 0;}
    display: flex;
    justify-content: space-between;
    .card-img {width: 37%;}
    .info {width: 63%; padding-left: 16px;}
  }
}

/* card-mini */
.card-mini {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  .card-img {width: 27%;}
  .info {width: 70%;}
  .h-card {margin: 0 0 4px 0; font-size: 1.1rem;}
}

/* card-links */
.card-links {
  border: 1px solid $gray-light;
  padding: 16px 20px;
  .heading {margin: 0 0 8px 0;font-size: 1.3rem;}  
  li {margin-bottom: 4px; position: relative;
    &:before {content: "";border-radius: 100%; width: 6px;height: 6px; border:1px solid gray; position: absolute; left: -11px; top: 6px;}
  }
  a {border-bottom: 1px solid $gray-light;}
}

/* card-about */
.card-about {
  border: 1px solid $gray-light;
  padding: 32px;
  margin-top: 40px;
  @media (min-width: $screen-md-min) {
    padding: 32px 56px;
  }
}

/* card-list */
.card-list {
  margin-bottom: 28px;
}
.card-list-square {
  @media (min-width: $screen-md-min) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.card-list-item {
  transition: all .3s;
  border-bottom: 1px solid $gray-light;  
  padding: 14px 0;
  display: block;
  background-image: none !important;
  &:first-child {padding-top: 0}
  &:last-child {border-bottom: 0;}
  .title {margin: 0 0 8px 0;}
  .img {
    display: block;
    img {width: 100%;}
  }
  .comments {
    //background: $ad-link-color;
    display: inline-block;
    color: #fff;
    padding: 2px 4px;
    margin-bottom: 8px;
  }
  .price {
    font-size: 2rem;
    .currency {font-size: 1.2rem; font-weight: 300;}
    .svg-inline--fa {font-size: 1.3rem;}
  }

  @media (min-width: $screen-sm-min) {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    .img {
      float: left;      
      width: 33%;
    }    
    .info {
      width: 65%;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.card-list-item-square {
  @media (min-width: $screen-md-min) {
    display: block;  
    background-position: 50% 50%;
    background-size: cover !important;
    position: relative;
    width: 32%;
    transition: all .3s;
    margin-bottom: 18px;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
    .title, .comments, .price {
      background: rgba(#fff, .9);
      margin: 0;
      padding: 2px 4px;
      svg {display: none;}
    }
    .title {font-size: 1.3rem;display: inline-block;}
    .img, .excerpt {display: none;}

    .info {
      position: absolute;
      top: 12px;
      left: 12px;
      bottom: 12px;
      right: 12px;
    }
    .price,.comments {
      bottom: 0;
      position: absolute;
    }

    .price {
      left: 0;    
      font-size: 1rem;
      .currency {font-size: .75rem;}
    }
    .comments {
      right: 0;
      font-size: .75rem;
      span {display: none;}
    }
  }
}

/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-site {
  padding: 28px 0;
}


.b-modal {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 20px;
  .header {
    height: 40px;
    background: $blue-dark;
    color:#fff;
    font-size: 18px;
    font-weight: normal;
    margin: -20px -20px 0 -20px;
    padding: 8px 20px 0;
  }
  .form {margin-top: 28px;}
  .btn-main {width: 100%; margin-bottom: 20px;}
  .btn-icon {
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 2;
  }
}